.whole{
    background-color: #01011b;
}
.first{
    margin-top: 90px;
    padding-left:30px;
    padding-top: 15px;
    margin-left: 2vw;
    margin-right: 4vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.firstleft{
    flex:115
}
.firstright{
    flex:93;
}
.animfirst{
    width:100%;
}
@media only screen and (max-width:1000px) {
    .first{
        display: flex;
        flex-direction: column;
        align-items: center ;
        margin-bottom: 6dvw;
    }
    
}
.welkgp{
    width: 500px;
}

.Welcome{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 65px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
}
.text0{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.8px;
    color: #979898;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: left;
}
.text1{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.8px;
    color: #fff;
    text-align: left;
    font-weight: 400;
}
.kode{
    font-family: sans-serif;
    font-weight: regular;
    font-style: normal;
    font-size: 85px;
    color: #00FFFF;
    margin: 0;
    font-weight: 700;

}
.second{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin:3.5vw;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 60px;
}
.second p1{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
    padding-right: 12px;
}
.box p2,p3{
    font-family: Arial,sans-serif;
    font-weight: regular;
    font-style: normal;
    font-size: 25px;
    color: #00FFFF;
    margin: 0;
    font-weight: 700;
    padding-right: 8px;
}

.second1 {
  display: flex;
  align-items: center;
  height: 100vh;
}
@media only screen and (max-width:1000px) {
    .second{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: space-between;
    }
    .box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        margin-right: 25px;
        padding-bottom: 60px;
    }    
}
.third{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}
.third1{
    display: inline-block;
}
.third1 p {
  font-family: Arial, sans-serif;
  font-size: 9.81vw;
  color: #00FFFF;
  margin: 4.32vw;
  font-weight: 700;
  z-index:0;
}
.third0{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(54, 54, 54, 0.4);
    width: 58vw;
    border-radius: 4vw;
    height: 80vw;
    margin: 15px;
}
.gif{
    width:100%;   
    border-radius: 3.5vw;
}
.gif01{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif1{
    width: 55%; 
    border-radius: 3.5vw;
}
.gif02{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif2{
    width: 55%; 
    border-radius: 3.5vw;
}
.third01{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.third02{
    width:95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:0.5vw;
    margin-right: 0.5vw
}
.third02 p2{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 4vw;
    font-weight: 300;
    text-align: center;
}
.third01 p1{
    font-family: Arial,sans-serif;
    font-weight: regular;
    font-style: normal;
    font-size: 5vw;
    color: #00FFFF;
    margin: 0;
    font-weight: 300;
    padding-right: 8px;    
}
@media only screen and (min-width:1000px) {
    .third1 p {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 50px;
        
    }
    .third{
        display: flex;
        flex-direction: row;
        margin-bottom: 6vw;
    }
    .third1{
        display: inline-block;
    }
    .third0{
        width: 18vw;
        margin: 4vw;
        border-radius: 1.7858vw;
        height: 42vw;
        border-radius: 4vw;
    }
    .gif{  
        width: 100%;
        border-radius: 1.7vw;
    }
    .gif01{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gif1{
        width: 100%;
    }
    .gif02{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gif2{
        width: 100%;
    }
    .third02{
        padding:0.5vw;
        margin-right: 0.5vw
    }
    .third02 p2{
        font-size: 1.43vw;
    }
    .third01 p1{
        font-size: 2.1vw;  
    }
}
.fourth{
    background-color: #46454533;
    height: 24vw;
    cursor: pointer;
    border-radius: 35px;
    margin-left: 8vw;
    margin-right: 8vw;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.fourthleft{
    flex:20;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 4.5vw;
}
.fourthleft h1{
    padding-top: 6vw;
    font-family: Arial,sans-serif;
    font-weight: regular;
    font-style: normal;
    font-size: 2.5vw;
    color: #00FFFF;
    font-weight: 700;
    padding-right: 8px;
}
.fourthleft h2{
    padding-bottom: 6vw;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.689vw;
    font-weight: 600;
    display: inline-block;
}
.fourthright{
    flex:13;
}
.fourthrightimg{
   height:80%;
   align-items: start;
}
@media only screen and (max-width:1000px){
    .fourth{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        height: fit-content;
    }
    .fourthleft h2{
        padding-bottom: 6vw;
        font-size: 4vw;
    }
    .fourthleft h1{
        padding-top: 3.5vw;
        font-size: 6vw;
    }
}
